<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>组件demo</title>
</head>

<body>
  <script src='https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js'></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://localhost:8080/dist/lgbui.min.js"></script>
  <style>
    .kz-basic-table .warning-row {
    background: oldlace;
  }

  .kz-basic-table .success-row {
    background: #f0f9eb;
  }
  </style>
  <div id="app">
    <lqb-frame @tab-change="tabChange" @changecompont="changecompont" @changestyle="changestyle" :fault-com="iid"  test="true"  :enterprise-list="enterpriseList"  :nav-list="navList" :current-position="currentPosition">
      <lqb-frame-warp title="栏目名称">
        <div style="width:500px;margin:50px auto;">
          <lqb-card space="20">
            <span slot="header">头部</span>
            <div>
              <kz-table   :data="list">
                <kz-table-col type="selected"></kz-table-col>
                <kz-table-col label="序号" type="index"></kz-table-col>
                <kz-table-col label="名称">
                  <template slot-scope="scope">
                    <div class="test">
                      {{scope.row.bb}}sdsds试试看
                    </div>
                  </template>
                </kz-table-col>
                <kz-table-col label="日期" edit  prop="bb" >
                 
                </kz-table-col>
                <kz-table-col label="金额" edit prop="cc"></kz-table-col>
              </kz-table>
            </div>
          </lqb-card>
          <lqb-card space="20">
            <span slot="header">头部</span>
            <div>
              <kz-fuzzy @change="handlerChange" @keydown="send" v-model="selVal" :data="listtest" :filter="true">
                <!-- <input slot="btn" @click="clickBtn" type="button" value="选择" /> -->
              </kz-fuzzy>
              <div style="height: 200px;"></div>
              <kz-editable-fuzzy style="width: 200px;height:50px" @change="handlerChange" @keydown="send" v-model="selVal1" :data="list" :filter="true" :opts="opts1"></kz-editable-fuzzy>
              <div style="height: 200px;"></div>
            </div>
          </lqb-card>
        </div>

        <kz-table @row-click="rowclick" :row-class-name="tableRowClassName" table-wdith="1800px" :data="list">

            <kz-table-col type="selected"></kz-table-col>
            <kz-table-col label="序号" type="index"></kz-table-col>
          <kz-table-col label="名称">
            <template slot-scope="scope">
              <kz-editable-fuzzy style="width: 100%;height:100%"  @change="handlerChange" @keydown='send(scope,$event)' v-model="scope.row.aa" :data="list" :filter="true" :opts="opts1"></kz-editable-fuzzy>
            </template>
          </kz-table-col>
          <kz-table-col label="日期" edit  prop="bb" > </kz-table-col>
          <kz-table-col label="金额" edit prop="cc"></kz-table-col>
          <kz-table-col label="日期" edit  prop="bb" > </kz-table-col>
          <kz-table-col label="金额" edit prop="cc"></kz-table-col>
          <kz-table-col label="日期" edit  prop="bb" > </kz-table-col>
          <kz-table-col label="金额" edit prop="cc"></kz-table-col>
          <kz-table-col label="日期" edit  prop="bb" > </kz-table-col>
          <kz-table-foot>
            <template >
              <tr>
                <td>总价：</td>
                <td>198</td>
                <td>元</td>
              </tr>
            </template>
          </kz-table-foot>
        </kz-table>
      </lqb-frame-warp>
    </lqb-frame>

    <kz-dialog :visible.sync="show" width="30%"  >
      <div slot="title">提示</div>
      <div>这是内容</div>
      <div slot="footer">
        <input type="button" value="确定" />
      </div>
    </kz-dialog>

  </div>
  <script>
    var Main = {
      name: 'test',
      data() {
        return {
          listtest: ["aabc","cbaaa","ssssss","sdsd"],
          enterpriseList: null,
          show:false,
          selVal:"",
          selVal1:"1",
          currentPosition:0,
          navList:null,
          selData:[{
            label:"adsdsa",
            value:"10",
          },{
            label:"adsd111sa",
            value:"110"
          }],
          opts1:[
              {
                label:"名称",
                prop:"aa",
              }
              ,
              {
                label:"日期",
                prop:"bb",
              }
              ,
              {
                label:"金额",
                prop:"cc",
              }
          ],
          list: [{ aa: 11, bb: 33, cc: 988 }, { aa: 55, bb: 22, cc: 9818 }, { aa: 55, bb: 22, cc: 9818 },{ aa: 11, bb: 33, cc: 988 }, { aa: 55, bb: 22, cc: 9818 }, { aa: 55, bb: 22, cc: 9818 },{ aa: 11, bb: 33, cc: 988 }, { aa: 55, bb: 22, cc: 9818 }, { aa: 55, bb: 22, cc: 9818 }],
          iid: null,
          dome: "ceshixia",
          test: {
            aa:10,bb:222
          },
          handlerChange(e){
            console.log(e);
          }
        }
      },
      mounted() {
        var _this=this;
         _this.iid=151;
        _this.enterpriseList=[{"id":150,"enterpriseName":"测试1 ","enterpriseNum":"E00000000000515"},{"id":151,"enterpriseName":"测试2","enterpriseNum":"E000000000005125"}];
        _this.navList=[{name:'menu',content:'采购',notice:true},{name:'trade',content:'销售',notice:false},{name:'store',content:'仓库',notice:true},{name:'money',content:'资金',notice:true},{name:'material',content:'资料',notice:true},{name:'set',content:'设置',notice:true}];
        _this.currentPosition=0;
      },
      methods: {
        clickBtn(e){
          alert("选择按钮被点击了")
        },
        rowclick(e){
          console.log(e);
        },
        tableRowClassName(row, rowIndex) {
        if (rowIndex === 1) {
          return 'warning-row';
        } else if (rowIndex === 3) {
          return 'success-row';
        }
        return '';
      },
        send(scope,e){
          console.log(scope,e)
          //e.handlerEnd();
          //scope.nextCompent.next.tabNext(scope.nextCompent)
        },
        buttonClick:function(e){
          alert(222)
        },
        changecompont: function (i) {
          console.log(i)
        },
        changestyle:function(i){
          console.log(i)
        },
        tabChange(index){
          this.currentPosition=index;
        }
      }
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
  </script>
</body>

</html>